@model Web.Models.ExpenseForm

@{
    ViewData["Title"] = "AddExpenseForm";
    Layout = "~/Views/Shared/ExpenseForm.cshtml";
}

<h2>Yeni Masraf Formu Ekle</h2>

<form asp-action="AddExpenseForm" method="post">
    <div class="form-group">
        <label asp-for="ExpenseName">Masraf Adı</label>
        <input asp-for="ExpenseName" class="form-control" />
        <span asp-validation-for="ExpenseName" class="text-danger"></span>
        <input type="hidden" asp-for="Status" value="Yeni Masraf Kaydı" />
    </div>

    <button id="addDetailButton" type="button" class="btn btn-primary">Detay Ekle</button>

    
    <div id="detailAccordion"></div>       

    <input type="submit" value="Ekle" class="btn btn-primary" />
</form>

@section scripts {
    <script>
        var detailCount = 0;

        // Detay ekleme butonuna tıklanınca
        $("#addDetailButton").click(function () {
            var detailCount = $(".accordion").length; // Detay sayısını al

            var accordionHtml = '<div class="accordion" id="accordionDetail' + detailCount + '">\
                        <div class="card">\
                            <div class="card-header" id="headingDetail' + detailCount + '">\
                                <h2 class="mb-0">\
                                    <button class="btn btn-link" type="button" data-target="#collapseDetail' + detailCount + '" aria-expanded="true" aria-controls="collapseDetail' + detailCount + '">\
                                        Detay ' + (detailCount + 1) + '\
                                    </button>\
                                </h2>\
                            </div>\
                            <div id="collapseDetail' + detailCount + '" class="collapse show" aria-labelledby="headingDetail' + detailCount + '" data-parent="#accordionDetail' + detailCount + '">\
                                <div class="card-body">\
                                    <div class="form-group">\
                                        <label for="ExpenseDetails_' + detailCount + '__ExpenseType">Masraf Türü</label>\
                                        <input type="text" name="ExpenseDetails[' + detailCount + '].ExpenseType" class="form-control" />\
                                    </div>\
                                    <div class="form-group">\
                                        <label for="ExpenseDetails_' + detailCount + '__Amount">Miktar</label>\
                                        <input type="text" name="ExpenseDetails[' + detailCount + '].Amount" class="form-control" />\
                                    </div>\
                                    <input type="hidden" name="ExpenseDetails[' + detailCount + '].ExpenseDetailID" value="0" />\
                                </div>\
                            </div>\
                        </div>\
                    </div>';

            $("#detailAccordion").append(accordionHtml);
        });
    </script>


}
